<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://projetos.supera.com.br</string>
	<key>allIssues</key>
	<string>/issues.json</string>
	<key>getOneProject</key>
	<string>/projects/{id}.json</string>
	<key>getAllProject</key>
	<string>/projects.json?limit=100</string>
	<key>getIssueAssignedTo</key>
	<string>/issues.json?assigned_to_id={id}</string>
	<key>currentUser</key>
	<string>/users/current.json</string>
</dict>
</plist>
